body {
    font-size: 16px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 100px auto;
}
main .info {
    font-size: 20px;
    text-align: center;
}
main .search {
    width: 720px;
    overflow: hidden;
}
    main .search .input-type {
        float: left;
        width: 100px;
        height: 34px;
        margin-right: 10px;
        line-height: 34px;
        border: 1px solid #000;
        background-color: #f5f5f5;
    }
    main .search #search-input {
        float: left;
        display: block;
        width: 560px;
        height: 30px;
    }
    main .search .search-btn {
        float: right;
        width: 30px;
        height: 30px;
        margin: 0;
        border: 2px solid #666;
        line-height: 30px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        background-color: #666;
        cursor: pointer;
    }
main .main-content {
    display: none;
    width: 960px;
    padding: 0 20px;
    min-height: 100px;
    margin-top: 30px;
    background-color: #f5f5f5;
}
    main .main-content .mc-title {
        display: flex;
        justify-content: center;
    }
    main .main-content .mc-title li {
        width: 45%;
        padding: 10px 5px;
        font-weight: bold;
        font-size: 18px;
    }
    main .main-content .mc-title li:last-child {
        width: 10%;
    }
    main .main-content .mc-list {
        display: flex;
        justify-content: center;
    }
    main .main-content .mc-list li {
        width: 45%;
        padding: 10px 5px;
        border-top: 1px solid #ddd;
    }
    main .main-content .mc-list li:last-child {
        width: 10%;
    }
