<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main>
        <p class="info">welcome to DK system</p>
        <div class="search">
            <select class="input-type" name="input-type">
                <option value="all" selected>all</option>
                <option value="title">title</option>
                <option value="abstract">abstract</option>
                <option value="authors">author</option>
                <option value="fields">field</option>
            </select>
            <input type="text" id="search-input" name="search" value="">
            <p class="search-btn" id="search-btn">go</p>
        </div>
        <div class="main-content">
            <ul class="mc-title">
                <li>title</li>
                <li>authors</li>
                <li>field</li>
            </ul>
            <div id="result-list">
                <ul class="mc-list">
                    <!-- <li>title</li>
                    <li>author,authors,authors</li>
                    <li>type</li> -->
                </ul>
            </div>
        </div>
    </main>


    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
